server:
  port: 8762

spring:
  profiles: peer2
  application:
    name: eureka-server
  security:
    user:
      name: admin
      password: admin
eureka:
  instance:
    hostname: peer2
  client:
    serviceUrl:
      defaultZone: http://admin:admin@peer1:8761/eureka/